@media (max-width: 1070px){
    .title-header{
        max-width: 300px;
        width: 100%;
        height: auto;
        left: 10px;
        top: 40px;
        opacity: 1;
        display: none;
    }
}

@media (max-width: 800px){
    .title1{
        font-size: 20px;
        text-align: center;
    }
    .navigation-h{
        display: none;
    }
    .section1-paragraph{
        font-size: 12px;
        text-align: center;
    }
    .burger{
        display: inline-block;
    }
    .section1{
        width: 100%;
        height: auto;
    }
    .wraper{
        width: 750px;
        width: 100%;

    }
    .images{
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .image1{
        width: 250px;
        height: 300px;
    }
    .footer{
        margin-top: 700px;
        height: auto;
        width: 100%;
    }
    .footer-info{
        display: flex;
        /* justify-content: space-around; */
        flex-wrap: wrap;
        align-items: center;
    }
    .end-page{
        position: relative;
        text-align: center;
    }
    .footer-paragraph2{
        font-size: 11px;
    }
    .footer-logo{
        font-size: 120px;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
}

@media (max-width: 500px){
    .footer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-repeat: repeat;
    }
}